.centered {
  position: relative;
  display: flex;
  justify-content: center;
  height: 16vh;
}

.topbar{
  font-size: 3rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 94%;
  height: 10vh;
  top: 20px;
  padding: 15px;
  margin-left: 1%;
  margin-right: 1%;
  border-radius: 1.4em;
  background-color: #232224;
  backdrop-filter: saturate(150%);
  -webkit-backdrop-filter: saturate(150%);
  z-index: 2;
}
.box{
  background-color: #232224;
  border: none;
  border-radius: 0.5em;
  color: #E6E1E3;
  height: 40vh;
  width: 30%;
  font-size: 1.5rem;
}
.date{
  background-color: #e2e2e2;
  border: none;
  border-radius: 0.5em;
  color: #0e0e0e;
  height: 5vh;
  width: 20%;
  font-size: 1rem;
  resize: none;
}
body{
  padding: 30px;
  color: #E6E1E3;
  background-color: #141314;
  font-family: 'Roboto', sans-serif;
}