.centered {
  position: relative;
  display: flex;
  justify-content: center;
  height: 10vh;
}
.centered-simple{
  position: relative;
  display: flex;
  justify-content: center;
}
.title{
  font-size: 5vh;
  color: #ffffff;
  padding: 2vh;
  font-style: italic;
    text-shadow: 0 0 10px rgba(232, 232, 232, 0.5);
}
.other-pages{
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: 1vw;
  font-size: 1.5rem;
  gap: .5em;
  width: auto;
  padding: 2vh;
  border-radius: .5em;
  box-shadow: 0 0px 10px rgba(232, 232, 232, 0.3);
  background-color: rgba(255, 255, 255, 0.3);
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
}
.topbar{
  top: 0;
  height: 10vh;
  font-size: 3rem;
  display: flex;
  align-items: center;
  position: fixed;
  width: 100%; 
  box-shadow: 0 10px 40px rgba(232, 232, 232, 0.3);
  background-color: rgba(34, 253, 242, 0.3);
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
  z-index: 100;
}
.box{
  text-align: center; 
  box-shadow: 0 10px 40px rgba(232, 232, 232, 0.1);
  background-color: rgba(57, 57, 57, 0.3);
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
  color: #ffffff;
  border: 2px solid #defffb;
  border-radius: 20px;
  height: 20vh;
  width: 30%;
  font-size: 2rem;
  resize: none;
}
.box::placeholder{
  color: #9d9d9d;
}
.date{
  background-color: #232224;
  border: none;
  border-radius: 0.5em;
  color: #ffffff;
  height: 6vh;
  width: 20vw;
  font-size: 20px;
  resize: none;
  
}
.date::placeholder{
  color: #ffffff;
}
.dynamic-container{
  height: 8vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1vh;
}
.vertical-container{
  display: flex;
  flex-direction: column;
  gap: 1vh;
}
.information{
  font-size: 1.5vh;
  width: 20vw;
  height: 3vh;
  border-radius: 0.5em;
  padding: 1vh;
  box-shadow: 0 0px 10px rgba(232, 232, 232, 0.3);
  background-color: rgba(167, 246, 255, 0.3);
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
}
.calculate-button{
  box-shadow: 0 0px 10px rgba(232, 232, 232, 0.3);
  background-color: rgba(34, 253, 242, 0.3);
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
  border: none;
  border-radius: 0.5em;
  color: #E6E1E3;
  height: 5vh;
  width: 20vw;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.calculate-button:hover{
  transform: scale(1.05);
}
.example-button{
  box-shadow: 0 0px 10px rgba(232, 232, 232, 0.3);
  background-color: rgba(34, 253, 242, 0.3);
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
  border: none;
  border-radius: 0.5em;
  color: #ffffff;
  height: 5vh;
  width: 20vw;
  font-size: 1rem;
  cursor: pointer;
  transition: all 0.3s ease;
}
.example-button:hover{
  transform: scale(1.05);
}
.documentation{
  position: relative;
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  margin-bottom: 1vh;
  height: auto;
  z-index: 1;
}
.footer-content{
  position: relative;
  margin-top: auto;
  display: flex;
  align-items: center;
  width: 100%;
  height: 10vh;
  box-shadow: 0 10px 40px rgba(232, 232, 232, 0.2);
  background-color: rgba(42, 42, 42, 0.3);
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
}
.footer-links{
  padding: 1vh;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: 1vw;
  gap: 2em;
  background-color: #ffffff;
}
.download-link{
  font-size: 0.8em;
  width: 20vw;
  height: 3vh;
  border-radius: 0.5em;
  padding: 1vh;
  box-shadow: 0 0px 10px rgba(232, 232, 232, 0.3);
  background-color: rgba(167, 246, 255, 0.3);
  backdrop-filter: blur(4px) saturate(150%);
  -webkit-backdrop-filter: blur(4px) saturate(150%);
}
.footer-text{
  font-size: 1.5rem;
  color: #E6E1E3;
  margin-left: 1vw;
}
.footer-links img{
  width: 5vh;
  height: 5vh;
}
.graf{
  background-color: #232224;
  border-radius: 10px;
}
html, body{
  min-height: 100vh;
  margin: 0;
}
html {zoom: 100%;}
body{
  display: flex;
  flex-direction: column;
  color: #ffffff;
  background-image: url("photos/bgphoto.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  font-family: Inter, system-ui, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, sans-serif;
}
main{
  flex:1;
  padding: 1vh;
}
a{
  color: #ffffff;
}
a:hover{
  color: #b3c9fa;
}
.edge {
  stroke: #E6E1E3;
  stroke-width: 2;
}
.map-component {
  width: 100%;
  background-image: url("photos/harta_sectoare.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 100vh;
}
.map-container{
  position: relative;
  width: 100%;
  height: 100vh;
}
